---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import theme_bg from "../../assets/garden-design.webp";
---

<div class="relative rounded-lg overflow-hidden shadow-lg">
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-tr from-primary-500 to-secondary-500"
  >
  </div>
  <a
    class="relative block rounded-[0.4375rem] m-px p-4 bg-gray-50 dark:bg-gray-950"
    href="https://github.com/takashi-goldenfield/astro-mecure"
    target="_blank"
  >
    <Image
      src={theme_bg}
      width={300}
      alt="background"
      class="absolute w-full h-full inset-0 object-cover opacity-30 select-none"
    />
    <div class="relative z-10">
      <span class="font-bold text-lg">
        Want to use this
        <span
          class="bg-clip-text text-transparent bg-gradient-to-tr from-primary-500 to-secondary-500 font-black"
          >theme</span
        >
        <br />
        Building your own site?
      </span>
      <br />
      <span class="text-sm *:align-middle">
        <span>Take a look at Github</span>
        <Icon name="tabler:brand-github" is:inline class="inline" />
        <span>repo</span>
        <Icon name="tabler:arrow-right" is:inline class="inline" />
      </span>
    </div>
  </a>
</div>
